<ul class="sub-menu">
    {% for adulte in adultes %}
        <li><a href="{{ absolute_url(path('frontend_adulte_show', {'slug': adulte.slug}) )}}">{{ adulte.titre }}</a> </li>
    {% endfor %}
</ul>
