<form method="post" action="{{ path('backend_recrutement_delete', {'id': recrutement.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce recrutement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recrutement.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
