<form method="post" action="{{ path('backend_adulte_delete', {'id': adulte.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adulte.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
