<ul class="sub-menu">
    {% for soutien in soutiens %}
        <li><a href="{{ absolute_url(path('frontend_soutien_show', {'slug': soutien.slug}) )}}">{{ soutien.titre }}</a> </li>
    {% endfor %}
</ul>