<div class="full-width-header home8-style4  header-style1">
    <header id="rs-header" class="rs-header">
        <div class="topbar-area home8-topbar">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-md-7">
                        <ul class="topbar-contact">
                            <li>
                                <i class="flaticon-email"></i>
                                <a href="mailto:infos@monprofchezmoi.ci">infos@monprofchezmoi.ci</a>
                            </li>
                            <li>
                                <i class="flaticon-location"></i>
                                <a href="https://www.google.com/maps/dir/5.3705946,-3.9776399/0,2.109375/@-4.3787229,-34.7538712,4z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" target="_blank">
                                    Riviera 4 - Synacassci
                                </a>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-right">
                        <ul class="topbar-right">
                            <li class="login-register">
                                <i class="fa fa-sign-in"></i>
                                <a href="#">Connexion</a>/<a href="#">Creation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-2">
                        <div class="logo-cat-wrap">
                            <div class="logo-part">
                                <a href="{{ absolute_url(path('app_home')) }}">
                                    <img class="sticky-logo" src="{{ absolute_url(asset('assets/images/logo2_01.png')) }}" alt="" >
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 text-right">
                        <div class="rs-menu-area">
                            <div class="main-menu">
                                <div class="mobile-menu">
                                    <a class="rs-menu-toggle">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </div>
                                <nav class="rs-menu">
                                    <ul class="nav-menu"   >

                                        <li class="menu-item-has-children current-menu-item">
                                            <a href="{{ absolute_url(path('app_home')) }}"><i class="fa fa-home"></i></a>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a href="#">Pourquoi nous ?</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Soutien</a>
                                            {{ render(url('frontend_soutien_menu')) }}
                                        </li>

                                        <li class="rs-mega-menu mega-rs menu-item-has-children"> <a href="#">Cours adultes</a>
                                            <ul class="mega-menu">
                                                <li class="mega-menu-container">
                                                    <div class="mega-menu-innner">
                                                        <div class="single-megamenu">
                                                            <ul class="sub-menu">
                                                                <li class="active"><a href="#">Langues étrangères</a> </li>
                                                                <li><a href="#">Art oratoire</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="single-megamenu">
                                                            <ul class="sub-menu last-sub-menu">
                                                                <li><a href="#">Remise à niveau</a> </li>
                                                                <li><a href="#">Français</a> </li>
                                                                <li><a href="#">Informatique</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="single-megamenu">
                                                            <ul class="sub-menu last-sub-menu">
                                                                <li><a href="#">Concours</a> </li>
                                                                <li><a href="#">Musique</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-2 text-right">
                        <div class="expand-btn-inner">
                            <ul>
                                <li class="user-icon last-icon">
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
</div>